.counter-div {
  display: inline-flex; /* shrink to fit children */
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 2px;
  padding: 10px 20px;
  gap: 40px;
  box-shadow: 0 2px 5px rgba(160, 128, 128, 0.1);
}
.btn-white {
  border: none;
  background: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
.counter-div span {
  font-size: 1.5rem;
  font-weight: bold;
}

.btn-reset {
  margin: 30px;
  background-color: #388e8e;
  padding: 8px 16px;
color: white;
}
